* {
    box-sizing: border-box;
    background: #000;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.slider-wrapper {
    width: 100%;
    overflow: hidden;
}

.slides-box {
    width: 100%;
    display: flex;
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.img-container {
    border-radius: 100px;
}

input[type="radio"] {
    visibility: hidden;
}

.slider-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navigation {
    display: flex;
}

.bar {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 0.5rem;
    cursor: pointer;
}

.bar:hover {
    background: white;
}

.button {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: transparent;
}

p {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2rem;
    text-align: left;
}

#r1:checked ~ .slides-box,
#r1:checked ~ .slider-footer > .text-slider {
    transform: translateX(0);
}

#r2:checked ~ .slides-box,
#r2:checked ~  .slider-footer > .text-slider {
    transform: translateX(-100%);
}

#r3:checked ~ .s3 {
    margin-left: -40%;
}

#r4:checked ~ .s4 {
    margin-left: -60%;
}

#r5:checked ~ .s5 {
    margin-left: -80%;
}
